# ================================
# FRONTEND
# ================================

VITE_API_URL=http://localhost:3000


# ================================
# BACKEND
# ================================

PORT=3000

GOOGLE_CALENDAR_ID=your-calendar-id

GOOGLE_CLIENT_EMAIL=your-service-account-email

GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"

FRONTEND_URL=http://localhost:5173
